{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true,
    'commonjs': true,
    'es6': true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single",
      "avoid-escape"
    ],
    'no-shadow': 2,
    'no-shadow-restricted-names': 2,
    'no-undef': 2,
    'no-unused-vars': [
      2,
      {
        'vars': 'all',
        'args': 'after-used'
      }
    ],
    'no-use-before-define': 2,
    'comma-dangle': [
      2,
      'never'
    ],
    'no-cond-assign': [
      2,
      'except-parens'
    ],
    'yoda': 2
  }
}