@import 'mixins.less';

@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?89623643');
  src: url('./fonts/fontello.eot?89623643#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff2?89623643') format('woff2'),
       url('./fonts/fontello.woff?89623643') format('woff'),
       url('./fonts/fontello.ttf?89623643') format('truetype'),
       url('./fonts/fontello.svg?89623643#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.wedding-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */


@header-height: 140px;
@Section-sides: 75px;

@teal: #009494;
@off-teal: #5AB4B1;
@cream: #f1eae0;
@ivory: #fffff0;

@temp-blue: #549DB7;

@cream-green: #e0f1ea;
@cream-blue: #e0f0f1;

@slate-gray: #3c454e;

@background-main: @slate-gray;

@header-color: @temp-blue;
@section-color: @cream;

body {
  margin: 0px;
  background-image: url('/wedding/images/orig-chalk-board.png');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.text-fancy {
  font-family: 'Great Vibes', cursive;
}

.text-test-a {
  font-family: 'Allura', cursive;
  // font-size: 30px;
}
.text-test-b {
  font-family: 'Homemade Apple', cursive;
  // font-size: 30px;
}
.text-test-c {
  font-family: 'Dancing Script', cursive;
  // font-size: 30px;
}

.header-test {
  @margin-sides: 100px;
  min-width: (800px - 2 * @Section-sides - 2 * @margin-sides);
  position: fixed;
  top: 0;
  left: @Section-sides;
  right: @Section-sides;
  z-index: 1000;
  text-align: center;
  color: @header-color;
  margin: 0px @margin-sides;

  +main {
    position: relative;
  }

  .sectionLink {
    font-size: 2em;
    // border-width: 2px;
    // border-style: solid;
    a {
      color: inherit;

      &:hover, &:focus {
        color: @cream;
        text-decoration: inherit;
      }
    }
  }

  .leftLace {
    position: fixed;
    top: -6px;
    left: -6px;
    width: 275px;
  }

  .rightLace {
    position: fixed;
    top: -6px;
    right: -6px;
    transform: scale(-1, 1);
    width: 275px;
  }

  .centerCrest {
    font-weight: bold;
    .line1 {
      font-size: 2.75em;
    }
    .line2 {
      font-size: 3.75em;
    }
  }
}

.Section {
  min-width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: @cream-blue;

  .content {
    position: relative;
    margin: 0px @Section-sides 0px @Section-sides;
    // left: 0;
    // right: 0;
    // color: @cream-blue;
    padding: 10px;
  }
}

.Section-right-enter{
  right: 100%;
  left: -100%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-right-enter-active{
    right: 0%;
    left: 0%;
  }
}

.Section-right-leave{
  right: 0%;
  left: 0%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-right-leave-active{
    right: -100%;
    left: 100%;
  }
}

.Section-left-enter{
  right: -100%;
  left: 100%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-left-enter-active{
    right: 0%;
    left: 0%;
  }
}

.Section-left-leave{
  right: 0%;
  left: 0%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-left-leave-active{
    right: 100%;
    left: -100%;
  }
}


.event-map-container{
  position: relative;
  height: 400px;
}
