@import 'mixins.less';
@import 'fonts/fonts.less';
@import 'components/EventMap/map.less';

@header-height: 140px;
@Section-sides: 75px;

@teal: #009494;
@off-teal: #5AB4B1;
@cream: #f1eae0;
@ivory: #fffff0;

@temp-blue: #549DB7;

@cream-green: #e0f1ea;
@cream-blue: #e0f0f1;

@slate-gray: #3c454e;

@background-main: @slate-gray;

@header-color: @temp-blue;
@section-color: @cream;

body {
  margin: 0px;
  background-image: url('/wedding/images/orig-chalk-board.png');
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.text-fancy {
  font-family: 'Great Vibes', cursive;
}

.text-test-a {
  font-family: 'Allura', cursive;
  // font-size: 30px;
}
.text-test-b {
  font-family: 'Homemade Apple', cursive;
  // font-size: 30px;
}
.text-test-c {
  font-family: 'Dancing Script', cursive;
  // font-size: 30px;
}

.header-test {
  @margin-sides: 100px;
  min-width: 800px;
  position: absolute;;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  text-align: center;
  color: @header-color;
  padding: 0px (@Section-sides + @margin-sides);

  +main {
    position: relative;
  }

  .sectionLink {
    font-size: 2em;
    // border-width: 2px;
    // border-style: solid;
    a {
      color: inherit;

      &:hover, &:focus {
        color: @cream;
        text-decoration: inherit;
      }
    }
  }

  .leftLace {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 275px;
  }

  .rightLace {
    position: absolute;
    top: -6px;
    right: -6px;
    transform: scale(-1, 1);
    width: 275px;
  }

  .centerCrest {
    font-weight: bold;
    .line1 {
      font-size: 2.75em;
    }
    .line2 {
      font-size: 3.75em;
    }
  }
}

.Section {
  min-width: 800px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: @cream-blue;
  z-index: 1000;

  .content {
    position: relative;
    margin: 0px @Section-sides 0px @Section-sides;
    // left: 0;
    // right: 0;
    // color: @cream-blue;
    padding: 10px;
  }
}

.Section-right-enter{
  right: 100%;
  left: -100%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-right-enter-active{
    right: 0%;
    left: 0%;
  }
}

.Section-right-leave{
  right: 0%;
  left: 0%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-right-leave-active{
    right: -100%;
    left: 100%;
  }
}

.Section-left-enter{
  right: -100%;
  left: 100%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-left-enter-active{
    right: 0%;
    left: 0%;
  }
}

.Section-left-leave{
  right: 0%;
  left: 0%;
  transition: right .5s ease-in, left .5s ease-in;
  &.Section-left-leave-active{
    right: 100%;
    left: -100%;
  }
}

.registryButton{
  padding: 5px;
  &:hover {
    background-color: white;
    border-radius: 15px;
  }
}
