
@width: 200px;
@height: 325px;


@cream: #f1eae0;
@cream-blue: #e0f0f1;

.about-us {
  color: @cream-blue;
  font-size: 25px;
  .image-container {    
    width: @width;
  }
  .float-left {
    float: left;
    clear: left;
  }
  .float-right {
    float: right;
    clear: right;
  }
}
